.home{
    height: 78vh;
}
.home-content{
    padding-left: 15px;
    display: flex;
}
.logo{
    margin-top: 15vh;
}
.home-content-text{
    color: var(--light-color);
    border-left: 1px solid  var(--light-color);
    padding-left: 15px;
    margin-top: 15vh;
    margin-left: 0;
}
.home-content-text p{
    margin-top: 25px;
}
.btn{
    margin-top: 50px;
}

.btn-white{
    color: var(--dark-color);
    background-color: var(--light-color);
    align-items: center;
    border-radius: 50px;
    padding: 4px 15px 7px 15px;
    margin-right: 10px;
    border: none;
}
.btn-transparent{
    color: var(--midlight-color);
    background-color: rgba(255, 255, 255, 0.0);
    align-items: center;
    border-radius: 50px;
    padding: 4px 15px 7px 15px;
    margin-right: 10px;
    border: 1.5px solid  var(--midlight-color);
}
.btn-black{
    color: var(--dark-color);
    background-color: rgba(255, 255, 255, 0.0);
    align-items: center;
    border-radius: 50px;
    padding: 4px 15px 7px 15px;
    margin-right: 10px;
    border: 1.5px solid  var(--dark-color);
}

/* contact-form */

.contact-container{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*width: 75%;
    height: 75%;*/

    padding: 20px 100px;
}
.contact-box{
    max-width: 850px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--midlight-color);
    box-shadow: 0px 0px 10px 0px var(--light-color);
    border-radius: 50px;
    padding: 25px 40px;
}
.contact-box h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}
.field{
    width: 90%;
    border: 2px solid var(--dark-color);
    border-radius: 25px;
    outline: none;
    padding: 1rem;
    background-color: var(--midlight-color);
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.field:focus{
    border: 2px solid var(--light-color);
}
textarea{
    min-height: 100px;
}
.contact-btn{
    border: 2px solid var(--dark-color);
    transition: 0.3s;
}
.contact-btn:hover{
    border: 2px solid var(--light-color);
    background-color: var(--midlight-color);
}

/*home-into-accestory*/

.home-intro-accestory{
    background-color: var(--light-color);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 85px;
    width: 55vw;
    margin-top: 15vh;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px var(--dark-color);
    display: flex;
}
.accestories-content{
    display: flex;
}
.img-wrap{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--midlight-color);
    display: grid;
    align-items: center;
    margin-right: 10px;
}
.line{
    background-color: var(--dark-color);
    height: 45px;
    width: 1px;
}