.intro{
    margin-left: -7vw;
    margin-right: -7vw;
    margin-top: 22vh;
    background-color: var(--light-color);
}
.intro-content{
    height: 100vh;
    
    margin-right: 7vw;
    margin-left: 7vw;
    display: flex;
    margin-left: 0;
}
.profile-photo{
    margin-top: 20vh;
}
.intro-content-text{
    color: var(--dark-color);
    border-left: 1px solid  var(--dark-color);
    padding-left: 15px;
    margin-top: 20vh;
    margin-right: 0;
}
.intro-content-text p{
    margin-top: 25px;
}
.intro-contact{
    margin: 0;
    margin-top: 7vh;
}
.intro-contact-name{
    display: flex;
    align-items: center;
}
.intro-contact-text{
    display: flex;
    margin-left: 0;
}
.intro-contact-text p{
    margin-top: 0;
    margin-left: 1vw;
    margin-right: 5vw;
    
}
.text01{
    width: 5vw;
}
.my-interests{
    margin-top: 2.5vh;
    margin-bottom: 0;
    margin-right: 0;
}
.my-interests div img{
    display: flex;
    align-items: center;
}
.interests-text{
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
    margin-bottom: 0;
}