
.specialization{
    margin-left: -7vw;
    margin-right: -7vw;
    height: 140vh;
    width: 100vw;
    background-color: var(--dark-color);
    color: var(--light-color);
}
.spec-title{
    padding-top: 10vh;
    display: block;
    text-align: center;
}
.spec-container{
    margin-right: 7vw;
    margin-left: 7vw;
    margin-top: 10vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row {
    margin-top: 5vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
.row div{
    border: 2px solid  var(--light-color);
    border-radius: 50px;
    height: 9rem;
}
 
.col-3 {
    width: 25%;
    margin: 10px;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1vw;
}
.col-3 p, .col-2 p{
    padding: 1rem;
}
.col-2 {
    width: 25%;
    margin: 10px;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1vw;
}
.your-project{
    color: var(--light-color);
    padding-top: 8vh;
    display: block;
    text-align: center;
}
.your-project p{
    padding-top: 8vh;
    padding-bottom: 6vh;
}