@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

*{
    margin: auto;
    font-family: "Jura";
    font-size: large;
}
.home{
    color: #FFD5AF;
    margin: 0;
    background-color: #151515;
    height: 100vh;
}
.nav-bar{
    display: flex;
}
.right{
    display: flex;
    margin-right: auto;
}
.right div{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}
.right div a{
    color: #FFD5AF;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}