.my-journey{
    margin-left: -7vw;
    margin-right: -7vw;
    height: 100vh;
    width: 100vw;
    background-color: var(--light-color);
}
.journey-title{
    padding-top: 10vh;
    display: block;
    text-align: center;
}
.journey-container{
    margin-right: 7vw;
    margin-left: 7vw;
    margin-top: 10vh;
    display: flex;
}

.experience{
    margin-left: 10vw;
}
.education{
    margin-top: 0;
    margin-right: 10vw;
}
.j-c-title{
    display: flex;
    margin-bottom: 25px;
}
.j-c-title img{
    margin: 0;
}
.j-c-title p{
    margin-left: 50px;
}
.j-c-title-text{
    margin: 0;
    margin-left: 50px;
}
.j-c-accestory{
    margin: 0;
    margin-left: 5px;
    margin-top: 9px;
    height: 50px;
}
.j-c-a-dot{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--midlight-color);
}
.j-c-a-line{
    width: 3px;
    height: 100%;
    background-color: var(--midlight-color);
}
.j-c-ex-con, .j-c-ed-con{
    display: flex;
    margin-bottom: 50px;
}
.j-c-text{
    margin: 0;
    margin-left: 55px;    
}